<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Mascotas</title>

</head>

<body>

    <h1>Listado de Mascotas</h1>


    {% if mascotas %}

        <ul>

            {% for mascota in mascotas %}

                <li>

                    <strong>
                        {{ mascota.nombre }}
                    </strong>

                    -

                    {{ mascota.tipo }}

                    -

                    {{ mascota.color }}

                </li>

            {% endfor %}

        </ul>

    {% else %}

        <p>
            No existen mascotas registradas.
        </p>

    {% endif %}


</body>

</html>
