{% extends "base.html" %}

{% block contenido %}

<div class="row justify-content-center">
    <div class="col-md-7">

        <div class="card shadow">
            <div class="card-body">

                <h1 class="mb-4">
                    Crear nuevo usuario
                </h1>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form action="/registrar" method="POST" novalidate>

                    <div class="mb-3">
                        <label class="form-label">
                            Nombre
                        </label>

                        <input
                            type="text"
                            name="nombre"
                            class="form-control"
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Apellido
                        </label>

                        <input
                            type="text"
                            name="apellido"
                            class="form-control"
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Email
                        </label>

                        <input
                            type="text"
                            name="email"
                            class="form-control"
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Contraseña
                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                        >

                        <div class="form-text">
                            Mínimo 8 caracteres.
                        </div>
                    </div>

                    <button class="btn btn-success">
                        Crear usuario
                    </button>

                    <a href="/" class="btn btn-secondary">
                        Volver
                    </a>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}
