<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Crear Comprar</title>

</head>

<body>

    <h1>Crear Comprar</h1>

    <form action="{{ url_for('crear_comprar') }}" method="POST">

        <!-- Nombre -->

        <label for="nombre">

            Nombre:

        </label>

        <input type="text" id="nombre" name="nombre" required>

        <br><br>


        <!-- Email -->

        <label for="email">

            Email:

        </label>

        <input type="email" id="email" name="email" required>

        <br><br>

        <!-- Categoria -->

        <label for="categoria">

            Categoria

        </label>

        <input type="text" id="categoria" name="categoria" required>

        <br><br>

        <!-- Botón de envío -->

        <button type="submit">

            Crear Comprar

        </button>

    </form>

</body>

</html>