<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container single">
    <section class="card">
        <h1>¡Hola {{ user.first_name }}!</h1>
        <p>Te registraste con el e-mail <strong>{{ user.email }}</strong>.</p>
        <p><a href="/logout">Cerrar Sesión</a></p>
    </section>
</div>
</body>
</html>
